footer {
    display: block;
}

.footer_part {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    float: none;
    background-color: #333;
    text-align: center;
    line-height: 1.1;
    color: #888;
    height: 15%;
}

.footer_text p {
    top: 50%;
}

.footer_icons {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.social-icon {
    color: #fff;
    background: #555;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: fontawesome;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    padding-top: 12px;
    margin: 0 2px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.social-icon:hover {
    background: #888;
}

/* font awesome icons */

.social-icon:nth-of-type(1):before {
    content: '\f09a';
}

.social-icon:nth-of-type(2):before {
    content: '\f099';
}

.social-icon:nth-of-type(3):before {
    content: '\f0d5';
}

.social-icon:nth-of-type(4):before {
    content: '\f16d';
}

.social-icon:nth-of-type(5):before {
    content: '\f167';
}

.social-icon:nth-of-type(6):before {
    content: '\f189';
}

.social-icon:nth-of-type(7):before {
    content: '\f113';
}